*{
   margin: 0;
   padding: 0;
   font-family: 'Karla', sans-serif;
   box-sizing: content-box;
}

h1{
   text-align: center;
   margin-top: 10px;
}

form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

fieldset{
   display: flex;
   flex-direction: column;
   width: 50%;
   margin-bottom: 15px;
   background-color: #ccc;
   border-radius: 5px;
   border: 2px solid rgb(53, 53, 53);
   box-shadow: 2px 2px 7px #000;
   padding: 10px;
}

legend{
   margin-left: 20px;
   font-size: 20px;
   font-weight: 700;
}

label{
   display: flex;
   padding: 15px;
   font-size: 16px;
   font-weight: 500;
}

.input{
   width: 70%;
}

.radio{
   font-size: 14px;
   font-weight: 400;
}

.botao{
   width: 50%;
   height: 40px;
   margin: 15px 0;
   border-radius: 5px;
   background-color: #ccc;
   font-size: 16px;
   font-weight: 500;
}